@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.titulo {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.titulo::before, .titulo::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
}
.titulo::before {
  top: calc(100% + 4.5px);
  width: 9rem;
  height: 2px;
  background-color: #147894;
  opacity: 0.1;
}
.titulo::after {
  width: 3rem;
  height: 3.5px;
  background-color: #147894;
}

.subtitulo {
  font-size: 1.1rem;
  color: #555555;
}

.descricao {
  font-weight: 300;
}

.contactos__titulo {
  margin-bottom: 1.1rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #888;
}

html,
body {
  background-color: #fefefe;
}

* {
  box-sizing: border-box;
}

.header-navbar {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
  transform: background-color 1s;
}
.header-navbar * {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.header-navbar .nav-link.active, .header-navbar .nav-link:hover {
  color: #3bc1e6 !important;
  text-shadow: none;
}
.header-navbar .navbar-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.header-navbar.scrolled {
  background-color: #fff;
}
.header-navbar.scrolled * {
  color: #888 !important;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-shadow: none;
}

.main-container #inicio {
  display: block;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  margin-top: 80px;
  background: rgba(1, 83, 131, 0.15);
}
.main-container #inicio .carousel-inner, .main-container #inicio .carousel-item {
  max-height: calc(100vh - 80px);
}
.main-container #inicio img {
  width: auto !important;
  max-width: 100%;
  max-height: calc(100vh - 80px);
  margin: 0 auto;
  object-fit: contain !important;
}
.main-container #inicio .carousel-caption {
  margin-bottom: 3rem;
}
.main-container #inicio .carousel-caption h5 {
  text-align: left;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Montserrat";
}
.main-container #inicio .carousel-caption p {
  text-align: left;
  font-size: 1.15rem;
}

.icon {
  bottom: -2rem !important;
  right: 1.875rem !important;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid #fff;
  transition: all 0.5s;
  background: #001b50;
}
.icon:hover {
  cursor: pointer;
  background-color: #015383;
}
.icon svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #fff;
}

.card-title {
  font-family: "Montserrat";
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}

#servicos .col {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
#servicos svg {
  width: 2.25rem;
  height: 2.25rem;
  fill: rgba(20, 120, 148, 0.9);
}

#contactos {
  background: rgba(1, 83, 131, 0.09);
}
#contactos svg {
  width: 2.25rem;
  height: 2.25rem;
  display: block;
  margin: 0 auto 1.5rem;
  color: #147894;
}
#contactos p, #contactos a {
  display: block;
  color: currentColor;
  font-weight: 300;
  text-decoration: none;
}
#contactos a {
  color: #444;
  font-weight: 400;
}
#contactos a:hover {
  color: #147894;
}

/*# sourceMappingURL=style.css.map */
